<div class="message">
	<div class="message-user" style="display: inline-block">
		<%=message.driver.first_name%>:
	</div>
	<div class="message-content" style="display: inline-block">
		<%= message.content %>
	</div>
</div>