<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12">
			<div class="message-wr" style="margin-top: 100px">
				  <%= render 'messages' %>
				  <%= render 'message_form' %>	
			</div>
		</div>
	</div>
</div>