<div class="container">
	<div class="row" >
		<div class="col-lg-7 col-lg-offset-2 col-xs-12" style="margin-top: 100px; margin-bottom: 100px">
			<div class="message-wr" >
				<hr>
				  <%= render 'messages' %>
				  <%= render 'message_form' %>	
			</div>
		</div>
	</div>
</div>