<div class="container-fluid" style="background-color: #4d4d4d; height: 2000px">
	
	<div class="container" style="height: 500px">
		<div style="margin-top: 120px; margin-bottom: -50px">
			<% flash.each do |key, value| %>
				<div style="text-align: center; " class="alert alert-<%= key %>">
					<%= value %>
				</div>
			<% end %>
		</div>	

	<div class="container" style="margin-top: 20px; ">
		<div class="row">
			<div class="col-xs-12" style="margin-top: 100px; background-color: #808080; padding: 50px; border-radius: 2px">
				<div style="background-color: white; padding: 20px; border-radius: 3px">
					<h1 style="margin-top: 50px; margin-bottom: 50px; text-align: center"> 
						Administrators <br>
						Main Page
					</h1>
				
					<div style="text-align: center; margin-bottom: 50px">
						<div style="margin: 5px; display: inline-block;">
							<%= button_to drivers_path, method: 'get', class: 'btn btn-outline-danger btn-large' do %>
						  		View Drivers
							<% end %> 
						</div>
						<div style="margin: 5px; display: inline-block;">
							<%= button_to new_admin_path,method: 'get', class: 'btn btn-outline-primary' do %>
						  		New Admin
							<% end %>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>						 
</div>