<div class="container">
	<div class="row" style="margin-bottom: 20px">
		<div class="col-xs-12">
			<h1 style="font-family: Voltaire; margin-top: 80px; font-size: 60px"> TRACE </h1>
		</div>
	</div>
</div>


<div class="container-fluid parallax" style="position: relative; z-index: 1	">
	<div class="container" style="position: absolute;top: 150px; z-index: 2">
		<div class="row">
			<div class="col-xs-12" style="margin-left: 147px; color: white;">
				<h1><span style="margin-top: 100px; margin-bottom: 20px; font-size: 50px; font-style: italic; "> Real Time Driver<br>Behaviour Analysis</span></h1>
			</div>
		</div>
	</div>
</div>

<div class="container" style="margin-top: 20px; margin-bottom: 500px">
	<div class="row" style="text-align: ; color: white">
		<div class="col-xs-12">

			
				<div style="margin: 5px; display: inline-block;">
					<%= button_to drivers_path, method: 'get', class: 'btn btn-danger btn-large' do %>
				  		View Drivers
					<% end %> 
				</div>
				<div style="margin: 5px; display: inline-block;">
					<%= button_to new_driver_path,method: 'get', class: 'btn btn-primary' do %>
				  		New Driver
					<% end %>	
				</div>
			

		</div>
	</div>
</div>



