


<div class="container-fluid parallax" style="">
	<div class="container" style="">
		<div class="row">
			<div class="col-xs-12 col-lg-12" style="height: 900px">
		
				
				<h1 class="heading">Mahele Auto Doctor</h1>

				<p class="phrase"> Leading The Way Forward </p>
				
				<div style="display: inline-block; margin: 5px; margin-left: 50px">
					<%= button_to login_path, method: 'get', class: 'btn btn-outline-danger btn-large' do %>
						Login
					<% end %>
				</div>
				<div style="display: inline-block; margin: 5px">
					<%= button_to '#', method: 'get', class: 'btn btn-outline-info btn-large' do %>
						About
					<% end %>
				</div>

			</div>

			
		</div>

		<div class="row">
		  	 
		</div>
	</div>
</div>





