


<div class="container-fluid parallax" style="">
	<div class="container" style="">
		<div class="row">
			<div class="col-xs-12 col-lg-12" style="height: 900px">
		

				<h1 class="heading">Mahele Auto Doctor</h1>

				<p class="phrase"> Leading The Way Forward </p>
				
				<div style="margin: 5px; margin-left: 50px">
					<div style="width: 150px">
						<% if admin_logged_in? || driver_logged_in? %>
							<%= button_to logout_path, method: :delete, class: 'btn btn-block btn-outline-danger btn-large' do %>
								Logout
							<% end %>
						<% else %>
							<%= button_to login_path, method: 'get', class: 'btn btn-block btn-outline-danger btn-large' do %>
								Login
							<% end %>
						<% end %>
					</div>
				</div>
		

			</div>

			
		</div>
	</div>
</div>





