@media (max-width: 480px) {
  #cards {
    margin-left: 0px;
    margin-top: 20px;
  }
  #car-status{	
	margin-bottom: 10px;
  }
  #vehicle-reg{
	margin-bottom: 20px;
  }
  #button{
  	margin-top: 10px;
  }
}




