<strong>Registered Cars</strong> <br>
<% cars.each do |c| %>
  <p>
    <hr>
    <strong>Make:</strong> <i style="font-style: italic"> <%= c.make %></i><br>
    <strong>Model:</strong> <i style="font-style: italic"> <%= c.model %></i><br>
    <strong>Reg:</strong> <i style="font-style: italic"> <%= c.vehicle_reg %> </i>
  </p>
	
	<hr>

  <p>
  	<span  id="car_rpm"> </span>
  	<br>
  	<span id="car_speed"> </span>
  </p>
	
  

  
  
<% end %> 