<table class="table table-striped">
  <thead>
    <tr>
      <th><b>CREATED AT</b></th>
      <th><b>DESCRIPTION</b></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% invoices.each do |i| %>
        <tr>
          <td><%= i.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= i.attachment.file.filename %></td>
          <td><%= link_to "View Invoice", i.attachment_url, target: :_blank %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<div style="text-align: center">
  <%= will_paginate @invoices, renderer: BootstrapPagination::Rails %>
</div>
