<table class="table">
  <thead>
    <tr>
    <th><b>Name</b></th>
    <th><b>ID Number</b></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <% drivers.each do |d| %>
      <tr>
        <td><%= d.first_name%> <%= d.last_name%></td>
        <td><%=d.id_number %></td>
        <td>
          <div  style="margin-top: -5px">
            <%= link_to driver_path(d.id), class: 'btn btn-warning' do %>
              Manage
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
