<!-- Modal -->

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title" > 
	        <h5 style="text-align: center">
	        	NEW INVOICE FOR<br>
	        </h5>
	        <h4 style="font-style: italic; text-align: center">
	        	<%=@driver.first_name.upcase %> <%=@driver.last_name.upcase%>
	        </h4>
	    </div>
      </div>
      <div class="modal-body">
        <%= render partial: 'new_invoice'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
