<div class="container-fluid" style="background-color: #262626; height: 1000px">
	<div class="container">
		<div class="row" style="margin-top: 130px;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2" style="background-color: #404040; padding: 20px; border-radius: 3px; ">

				<h3 style="color: white;font-family: Voltaire; text-align: center"> DRIVERS </h3>
				<div style="background-color: white; padding: 20px; border-radius: 3px; height: ">
					<%= button_to new_admin_path,method: 'get', class: 'btn btn-outline-primary' do %>
				  		Register New Driver
					<% end %>
					<hr>
					<%= render partial: 'list', locals: { drivers: @drivers} %>
				</div>

			</div>
			<!--
			<div class="col-ls-5" style="background-color: #808080; padding: 20px; border-radius: 2px; margin-left: 20px; height: 280px">
				<h5 style="color: white"> Analytics </h5>
				<div style="background-color: white; padding: 20px; border-radius: 3px; height: 200px">	
					
				</div>
			</div>
			-->
		</div>
	</div>
</div>
