// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoices {
	background-color: white; 
	padding: 20px; 
	border-radius: 3px; 
	min-height: 400px;
}

.bookings {
	background-color: white;
	padding: 20px; 
	border-radius: 3px; 
	min-height: 400px;
	display: none;
}

.cars {
	background-color: white;
	padding: 20px; 
	border-radius: 3px; 
	min-height: 400px;
	display: none;
}


#cards {
	background-color: #404040; 
	margin-left: 30px; 
	padding: 20px; 
	border-radius: 3px;
}

.cards-heading {
	color: white; 
	font-family: Voltaire; 
	text-align: center;
}

.table {
	width: 100%
}

@media (max-width: 480px) {
  #cards #change {
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  #cards #change {
    margin-left: 0px;
    margin-top: 30px;
  }
}

.dashboard {
	color: white;
	text-align: center;
	font-family: Voltaire;
}
